@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Inria+Sans&family=Orbitron:wght@500&display=swap');
/* @config "./tailwindcss.config.js"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "Inria Sans", sans-serif;
    color: #5E0000;
    background-color: #F8F4EB;
}